 .u-section-1 {
  background-image: url("images/cb7290eec9fdca997cc7ec90a9336f74bc3ecbe26091db0ea9b7e3d20842ca1351130ac50eab018cf68bd823adc5d1fe722e2196b64229f5f335c1_1280.jpg");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-1 .u-sheet-1 {
  min-height: 3499px;
}

.u-section-1 .u-image-1 {
  min-height: 3349px;
  width: 1182px;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.15);
  height: auto;
  background-image: linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1)), url('images/bd3692cdbac2c3c4e1bcb60b1b0e250de30e623f999c48a40f269d723fc0e826a82eec253d27bcbb03bcb469bc1a255e25ee6221262065660f3150_1280.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  margin: 60px -21px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: normal;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-family: Lobster, display;
  margin: 98px auto 0 33px;
}

.u-section-1 .u-image-2 {
  width: 217px;
  height: 121px;
  margin: 51px 68px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 287px;
  height: 213px;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 10px 0px rgba(128,128,128,1);
  margin: -66px auto 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -104px 52px 0 407px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 500;
  margin: 68px 394px 0 68px;
}

.u-section-1 .u-image-4 {
  width: 346px;
  height: 202px;
  margin: -1554px 23px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 354px;
  height: 248px;
  margin: 195px 15px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 369px;
  height: 272px;
  margin: 628px 0 0 auto;
}

.u-section-1 .u-image-7 {
  width: 369px;
  height: 271px;
  margin: -641px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 447px auto 0 411px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  align-self: center;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 22px auto 0 233px;
  padding: 50px 30px 51px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 65px auto 0 50px;
}

.u-section-1 .u-video-1 {
  width: 857px;
  height: 491px;
  margin: 50px auto 0 50px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2885px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 217px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 220px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 247px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 327px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2210px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -996px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -623px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 385px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 686px;
    margin-left: 250px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 23px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1658px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1079px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 633px;
    margin-left: 188px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 310px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 85.08% 57.15%;
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-3 {
    margin-left: 53px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 198px;
    margin-top: 1118px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 237px;
    margin-top: -521px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 251px;
    margin-top: 462px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 250px;
    margin-top: -620px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 654px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 103px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 195px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}